In [33]:
import pandas as pd # Strg + Enter
import numpy as np

In [17]:
index = ["Berlin", "Madrid", "Rom"]
bevölkerung  = pd.Series(data = [3.6, 3.3, 2.8], index = index)
fläche = pd.Series(data = [892, 604, 1285], index = index)
land = pd.Series(data = ["Deutschland", "Spanien", "Italien"], index = index)
sprache = pd.Series(data = ["deutsch", "spanisch", None], index = index)

my_dict = {
    'Bevölkerung': bevölkerung,
    'Fläche': fläche,
    'Land': land,
    'Sprache': sprache
}

df = pd.DataFrame(my_dict)
df

        Bevölkerung  Fläche         Land   Sprache
Berlin          3.6     892  Deutschland   deutsch
Madrid          3.3     604      Spanien  spanisch
Rom             2.8    1285      Italien      None

In [19]:
df.shape    # shows the indexes

(3, 4)

In [21]:
df.dtypes   # object = string

Bevölkerung    float64
Fläche           int64
Land            object
Sprache         object
dtype: object

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, Berlin to Rom
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Bevölkerung  3 non-null      float64
 1   Fläche       3 non-null      int64
 2   Land         3 non-null      object
 3   Sprache      2 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 120.0+ bytes

In [25]:
df.describe()

       Bevölkerung       Fläche
count     3.000000     3.000000
mean      3.233333   927.000000
std       0.404145   341.846457
min       2.800000   604.000000
25%       3.050000   748.000000
50%       3.300000   892.000000
75%       3.450000  1088.500000
max       3.600000  1285.000000

In [27]:
df.isnull()

        Bevölkerung  Fläche   Land  Sprache
Berlin        False   False  False    False
Madrid        False   False  False    False
Rom           False   False  False     True

In [29]:
df.isnull().sum()

Bevölkerung    0
Fläche         0
Land           0
Sprache        1
dtype: int64

In [49]:
# Alternativ zu df 
df2 = pd.DataFrame({
    'Bevölkerung': [3.6, 3.3, 2.8],  # wenn ein Wert fehlt, dann Error 
    'Fläche': [892, 604, 1285],
    'Land': ["Deutschland", "Spanien", "Italien"],
    'Sprache': ["deutsch", "spanisch", None]
}, index = ["Berlin", "Madrid", "Rom"])  # sonst wird index = 0,1,2,3...
df2

        Bevölkerung  Fläche         Land   Sprache
Berlin          3.6     892  Deutschland   deutsch
Madrid          3.3     604      Spanien  spanisch
Rom             2.8    1285      Italien      None

# Welche Funktion für Ersetzen von NA

In [35]:
np.where(df.isna())

(array([2], dtype=int64), array([3], dtype=int64))

In [59]:
df.iloc[2,3] = "italienisch"   # 1. Methode
df

        Bevölkerung  Fläche         Land      Sprache
Berlin          3.6     892  Deutschland      deutsch
Madrid          3.3     604      Spanien     spanisch
Rom             2.8    1285      Italien  italienisch

In [57]:
df.loc["Rom", "Sprache"] = "italienisch"    # 2. Methode
df

        Bevölkerung  Fläche         Land      Sprache
Berlin          3.6     892  Deutschland      deutsch
Madrid          3.3     604      Spanien     spanisch
Rom             2.8    1285      Italien  italienisch

In [61]:
df2["Sprache"] = df["Sprache"].fillna("italienisch")
df2

        Bevölkerung  Fläche         Land      Sprache
Berlin          3.6     892  Deutschland      deutsch
Madrid          3.3     604      Spanien     spanisch
Rom             2.8    1285      Italien  italienisch

# Aufgabe: Füge New York hinzu. Gegeben: Einwohner = 8.5 Mio, Fläche = 784 qm2 
Hinweis: pd.concat()

In [87]:

NewYork_df = pd.DataFrame({
    'Bevölkerung': [8.5], 
    'Fläche': [784],
    'Land': ["USA"],
    'Sprache': ["englisch"]
}, index = ["New York"])  

NewYork_df
df3 = pd.concat([df,NewYork_df])
df3

          Bevölkerung  Fläche         Land      Sprache
Berlin            3.6     892  Deutschland      deutsch
Madrid            3.3     604      Spanien     spanisch
Rom               2.8    1285      Italien  italienisch
New York          8.5     784          USA     englisch

# Fügen Sie nun eine weitere Spalte mit dem Namen "EU" hinzu, die den booleschen Wert True annimmt, wenn das Land zur Europäischen Union gehört, und andernfalls den Wert False.

In [93]:
df3["EU"] = df3["Land"] != "USA"
df3

          Bevölkerung  Fläche         Land      Sprache     EU
Berlin            3.6     892  Deutschland      deutsch   True
Madrid            3.3     604      Spanien     spanisch   True
Rom               2.8    1285      Italien  italienisch   True
New York          8.5     784          USA     englisch  False

# Fügen Sie nun eine weitere Spalte mit dem Namen "Region" hinzu, dass die Beschriftung "Europa" annimmt, wenn EU gleich True ist und andernfalls die Beschriftung "Americas". Sie können die Funktion np.where() verwenden

In [95]:
df3["Region"] = np.where(df3["EU"] == True, "Europe", "America")
df3

          Bevölkerung  Fläche         Land      Sprache     EU   Region
Berlin            3.6     892  Deutschland      deutsch   True   Europe
Madrid            3.3     604      Spanien     spanisch   True   Europe
Rom               2.8    1285      Italien  italienisch   True   Europe
New York          8.5     784          USA     englisch  False  America